/*
Theme Name: Supplier
Theme URI: https://themeansar.com/free-themes/supplier/
Author: Themeansar
Author URI: https://themeansar.com
Template: transportex
Description: Supplier Business WordPress theme ideal for a business (Transport, Logistic, Warehouse packers, movers, supplier etc.). You can also use for anything. It comes with all features these kind of shop page, blog page, homepage, slider, service, callout etc.
Version: 1.4
Tags: two-columns, three-columns, left-sidebar, right-sidebar, translation-ready, custom-background, custom-logo, featured-images, footer-widgets, full-width-template, blog, e-commerce, entertainment, food-and-drink, holiday, photography, portfolio
License: GNU General Public License v3 or later
License URI: http://www.gnu.org/licenses/gpl.html
Text Domain: movershub
*/